
<!DOCTYPE html>
<html lang="en">

<head>
  <title>School Store</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <style>
    @media (min-width: 576px) {
      .jumbotron {
        padding: 1rem 2rem;
      }
    }

    .tdaction {
      width: 15%;
    }

    .tdSr {
      width: 7%;
    }

    .other label {
      color: #6154d1;
    }

    .other input {
      border: 2px solid #6154d1;
    }
    label {
      margin-bottom: 0;
    }
    .form-control {
      border:1px solid grey;
    }
  </style>


</head>

<body>
  <div class="container">
    <div class="jumbotron text-center bg-success text-white">
      <h1>Personal Info</h1>

    </div>
    <div class="row pt-3">
      <div class="col-md-12 col-sm-12 col-12 p-2 ">
        <form>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="">Full Name              :</label>
              <input type="text" class="form-control" id="" placeholder="Full Name">
            </div><br>
            <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputEmail4">DOB         :</label>
              <input type="date" class="form-control" id="inputEmail4" placeholder="Date of birth">
            </div><br>
              <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputEmail4">Age         :</label>
              <input type="text" class="form-control" id="" placeholder="Enter your age">
            </div><br>
                <div class="form-group col-md-3">
                   <label>Gender       : <br></label><br>
                  <input type="radio" name="Gender" placeholder="enter your Gender">male<br>
                       <input type="radio" name="Gender" placeholder="enter your Gender">female<br>
                </div><br>
            <div class="form-group col-md-3 offset-md-1">
              <label for="inputPassword4">Phone Number :</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="Enter your phone number">
            </div>
          </div><br>
                <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="inputAddress">Address 1:</label>
                <textarea class="form-control" id="inputAddress" placeholder="Enter your address"></textarea>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="inputAddress2">Address 2 :</label>
                <textarea class="form-control" id="inputAddress2" placeholder="Enter your address 2"></textarea>
              </div>
            </div>
          </div><br>

          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="inputCity">Department :</label>
              <select id="dpdlDepartment" class="form-control">
                <option selected>Choose Department</option>
                <option value="India">Computer Science</option>
                <option value="Us">Commerce</option>
                <option value="Us">Economics</option>
                <option value="Us">Chemistry</option>
                <option value="Us">Psychology</option>

                <option value="Other">Other</option>
              </select>
            </div><br>
            <div class="form-group col-md-2 other">
              <label class="divOtherCountry ">Other Department :</label><br>
              <input type="text" class="form-control divOtherDepartment " id="dpdlOtherDepartment"
                placeholder="Other Department">
            </div><br>
            <div class="form-group col-md-2">
              <label for="inputState">Course :</label>
              <select id="dpdlCourse" class="form-control">
                <option selected>Educational Psycology</option>
                <option selected>Mathematics</option>
                <option selected>Electronics</option>
                <option selected>Statistics</option>
                <option selected>Macro Economics</option>
                <option selected>BCOM</option>
                <option selected>BBA</option>
                <option selected>Organic Chemistry</option>
                <option selected>Biochemistry</option>
                <option selected>Social Psychology</option>
                <option selected>choose course</option>
              </select>
            </div><br>
            <div class="form-group col-md-2 other">
              <label class="divOtherState ">Other Course</label><br>
              <input type="text" class="form-control divOtherCourse " id="dpdlOtherCourse" placeholder="Other Course">
            </div><br>
            <div class="form-group col-md-2">
              <label for="inputState">Purpose :</label>
              <select id="dpdlPurpose" class="form-control">
                <option selected>Debit Note Book</option>
                <option selected>Pen</option>
                <option selected>Exam pappers</option>
                <option selected>Reference Books</option>

                <option selected>choose purpose</option>
              </select>
            </div><br>
             <div class="form-group col-md-2 other">
               <label>Materials Provide          : </label><br><input type="checkbox" name="materials" placeholder="enter your priorities">Debit Note Book<br>
                       <input type="checkbox" name="materials" placeholder="enter your Gender">Pen<br>
                       <input type="checkbox" name="materials" placeholder="enter your Gender">Exam pappers<br>
                       <input type="checkbox" name="materials" placeholder="enter your Gender">Reference Books<br>
            </div><br>
<!--            <div class="form-group col-md-2">-->
<!--              <label for="inputState">City</label>-->
<!--              <select id="dpdlCity" class="form-control">-->
<!--                <option selected>Choose City</option>-->
<!--              </select>-->
<!--            </div>-->
<!--            <div class="form-group col-md-2 other">-->
<!--              <label class="divOtherCity ">Other City</label>-->
<!--              <input type="text" class="form-control divOtherCity " id="dpdlOtherCity" placeholder="Other City">-->
<!--            </div>-->
<!--          </div>-->

<!--          <button type="submit" >Submit<br></button><br>-->
            <a href="http://127.0.0.1:8000/forms/" class="btn btn-warning">Submit</a><br>
            <a href="http://127.0.0.1:8000/" class="btn btn-primary">Logout</a><br>

        </form>
      </div>
    </div>
  </div>
  <script>

    var stateList = [
      { Country: 'India', State: 'Maharashtra' },
      { Country: 'India', State: 'Delhi' },
      { Country: 'India', State: 'Punjab' },
      { Country: 'Us', State: 'Alabama' },
      { Country: 'Us', State: 'Arizona' },
      { Country: 'Us', State: 'California' },
      { Country: 'Other', State: 'Other' }
    ];
    var cityList = [
      { State: 'Maharashtra', city: 'Pune' },
      { State: 'Maharashtra', city: 'Mumbai' },
      { State: 'Maharashtra', city: 'Hydrabad' },
      { State: 'Delhi', city: 'New Delhi' },
      { State: 'Delhi', city: 'Balijt Vihar' },
      { State: 'Punjab', city: 'Ludhiyana' },
      { State: 'Punjab', city: 'Amritsar' },
      { State: 'Punjab', city: 'Patiyala' },
      { State: 'Punjab', city: 'Jalandhar' },
      { State: 'Alabama', city: 'Abbeville' },
      { State: 'Alabama', city: 'Adamsville' },
      { State: 'Arizona', city: 'Phoenix' },
      { State: 'Arizona', city: 'Tucson' },
      { State: 'Other', city: 'Other' }
    ];
    $(document).ready(function () {
      debugger;
      $(".divOtherCountry").hide();
      $(".divOtherState").hide();
      $(".divOtherCity").hide();
      $("#dpdlCountry").change(function () {
        debugger;
        if ($("#dpdlCountry").val() == "Other") {
          $(".divOtherCountry").show();
          const option = "<option val='Other'>Other</option>";
          $("#dpdlState").append(option);
        } else {
          $(".divOtherCountry").hide();
          $(".divOtherState").hide();
          $(".divOtherCity").hide();
          $("#dpdlState").html("<option selected>Choose State</option>");
          $("#dpdlCity").html("<option selected>Choose City</option>");
          const states = stateList.filter(m => m.Country == $("#dpdlCountry").val() || m.Country == "Other");
          states.forEach(element => {
            const option = "<option val='" + element.State + "'>" + element.State + "</option>";
            $("#dpdlState").append(option);
          });
        }
      });

      $("#dpdlState").change(function () {
        debugger;
        if ($("#dpdlState").val() == "Other") {
          $(".divOtherState").show();
          const option = "<option val='Other'>Other</option>";
          $("#dpdlCity").append(option);
        } else {
          $(".divOtherState").hide();
          $(".divOtherCity").hide();
          $("#dpdlCity").html("<option selected>Choose City</option>");
          debugger;
          const states = cityList.filter(m => m.State == $("#dpdlState").val() || m.State == "Other");
          states.forEach(element => {
            const option = "<option val='" + element.city + "'>" + element.city + "</option>";
            $("#dpdlCity").append(option);
          });
        }
      });

      $("#dpdlCity").change(function () {
        debugger;
        if ($("#dpdlCity").val() == "Other") {
          $(".divOtherCity").show();
        } else {
          $(".divOtherCity").hide();
        }
      });
    });
  </script>
</body>

</html>

